extends ../layout_empty

block content
    .container
      .row.h-100.d-flex.justify-content-center
        .col-12.col-sm-8.col-md-6.col-lg-4
          .card.border
            .card-body
              br 
              h5.card-title Hier kannst du dich als Schüler*in registrieren
              .tab-content.mt-3
                #history.tab-pane.active(role='tabpanel')
                  p.card-text
                    form(method='POST', action='/users/register_schueler_0')
                        #form-group  
                            label  Wähle deine Schule                                  
                            select#validationServer01.form-control(name='school', type=text,  required='', placeholder='Wähle deine Schule',  onchange='doSomething(this.value);')
                                option(selected='')
                                each school, i in schools
                                  option(value=school._id) #{school.name}
                            br                            
                        input.btn.btn-primary.bg-primary.text-white.float-right(type='submit', value='weiter')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
        script(src='/js/log_reg.js')