.shadow.p-3.mb-5.bg-white.rounded.text-dark.border-dark
    .card
        br 
        br 
        .col-md-12.text-center
            h1 Liquidschool
            h4 Alles einfach.
        br 
        br 
        .col-md-12.text-center
            a.btn.btn-outline-dark(href='/users/login_lehrer' style='width:300px; font-size: 18px; margin: 10px;') Anmeldung Lehrkräfte
            a.btn.btn-outline-danger(href='/users/login_schueler' style='width:300px; font-size: 18px; margin: 10px;') Anmeldung SchülerInnen
        br 
        br 
