.row.justify-content-center
    .col-md-5.text-center
        .shadow.bg-white.rounded.text-dark.border-dark
            br 
            br 
            h1 Liquidschool
            h4 Alles einfach
            br 
            br 
            a.btn.btn-outline-dark(href='/users/login_lehrer' style='width:85%; font-size: 18px;') Anmeldung Lehrkräfte
            br 
            br 
            a.btn.btn-outline-danger(href='/users/login_schueler' style='width:85%; font-size: 18px;') Anmeldung SchülerInnen
            br 
            br
            br
