.shadow.p-3.mb-5.bg-white.rounded.text-primary.border-primary
    .card
        .card-header.bold
            |  Wartungsarbeiten 
        .card-body
            h1.float-right Wartungsarbeiten.
            br 
        .col-md-12.col-12.float-right.padding_null
            h3.float-right Liquidschool ist im Laufe des Tages wieder nutzbar.