extends layout

block content
    .container
      .row.h-100.d-flex.justify-content-center
        .col-12.col-sm-8.col-md-6.col-lg-6
          .card.border.bg-custom-1
            .card-body.bg-custom-1
              h4.card-title Für welche Klasse ist dein neuer Auftrag? 
              .tab-content.mt-3
                #history.tab-pane.active(role='tabpanel')
                  p.card-text
                    form(method='POST', action='/articles/add_bingo')
                        #form-group
                            label Für die Lerngruppe                                 
                            select#validationServer01.form-control.custom-select.form-control(name='klasse', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='') #{user.default_klasse}
                                option St. Pauli 5a
                                option St. Pauli 5b 
                                option St. Pauli 6a
                                option St. Pauli 6b 
                                option St. Pauli 7a
                                option St. Pauli 7b 
                                option St. Pauli LB/WS 5-7                                           
                                option St. Pauli 8a
                                option St. Pauli 8b 
                                option St. Pauli 9a
                                option St. Pauli 9b
                                option St. Pauli LB/WS 8-9                                           
                                option St. Pauli 10a
                                option St. Pauli 10b 
                                option ---alle SuS von St. Pauli---
                                option Neustadt 5c
                                option Neustadt 5d
                                option Neustadt 5e
                                option Neustadt 6c 
                                option Neustadt 6d
                                option Neustadt 7c
                                option Neustadt 7d
                                option Neustadt 7e
                                option Neustadt 8c
                                option Neustadt 8d
                                option Neustadt 8e
                                option Neustadt 8f
                                option Neustadt VK 7/8
                                option Neustadt 9c
                                option Neustadt 9d
                                option Neustadt 9e
                                option Neustadt VK 9
                                option Neustadt 10c
                                option Neustadt 10d
                                option Neustadt 10e
                                option Neustadt 10f
                                option Neustadt VK 10
                                option ---alle SuS der Neustadt---
                                option Oberstufe 11a
                                option Oberstufe 11b
                                option Oberstufe 11c                                
                                option Oberstufe 12a
                                option Oberstufe 12b
                                option Oberstufe 12c
                                option Oberstufe 13a
                                option Oberstufe 13b
                                option Oberstufe 13c
                                option Oberstufe 13d
                                option Oberstufe VKa
                                option Oberstufe VKb
                                option ---alle SuS der Oberstufe---                                
                                option TestKlasse 1
                                option TestKlasse 2
                                option Testklasse 3 
                            br
                            br
                            label Für ausgewählte SuS?                
                            select#validationServer01.form-control.custom-select.form-control(name='speichertyp', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='') Für alle SuS der Lerngruppe
                                option Für ausgewählte SuS 
                        input.btn.btn-primary.my-margin-top.bg-primary.text-white.float-right(type='submit', value='Ok')