extends layout

block content
    h1 #{title}
    form(method='POST', action='/articles/add')
        #form-transition-group  
            label title
            input.form-control(name='title', type=text)
        #form-transition-group  
            label author
            input.form-control(name='author', type=text)
        #form-transition-group  
            label body
            textarea.form-control(name='body', type=text)
        input.btn.btn-primary(type='submit', value='Submit')