extends layout

block content
    form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/schools/add')
        .card-header.bg-info.text-white
            | Es braucht nicht viel, um deine Schule zu verflüssigen...
        .card-body
            #form-transition-group.my-margin-top
                .form-row.my-margin-top 
                    .form-group.col-md-12
                        br 
                        h5.text-info Name und Postleitzahl...           
                    .form-group.col-md-12 
                        input#validationServer01.form-control(type='text', placeholder='Name der Schule',  required=''  name='name')                                       
                    .form-group.col-md-4 
                        input#validationServer01.form-control(type='text', placeholder='Postleitzahl',  required='' name='plz')
                    .form-group.col-md-8 
                        input#validationServer01.form-control(type='text', placeholder='Ort',  required='' name='ort')          
                .form-row
                    .form-group.col-md-12
                        br 
                        h5.text-info die Stammgruppen deiner Schule...
                    .form-row
                        .form-group.col-md-12                                   
                            .container-fluid(style='margin-left:10px; border:none !important;')
                                .row.justify-content-start
                                    - var z = 0;
                                    while z < 90
                                        - z++
                                        if z == 1 
                                            .col-2(style='margin-bottom:10px; padding-left:0px !important; border:none !important;')
                                                input#validationServer01.form-control(type='text', placeholder= z + '. z.B. \'5a\'', name='fstamm['+ z +']')              
                                        else
                                            .col-2(style='margin-bottom:10px; padding-left:0px !important; border:none !important;')
                                                input#validationServer01.form-control(type='text', placeholder= z + '.', name='fstamm['+ z +']')
                    
                    .form-group.col-md-12
                        br 
                        h5.text-info ... und die Schulfächer         
                .form-row
                    .form-group.col-md-12                                   
                        .container-fluid(style='margin-left:10px; border:none !important;')
                            .row.justify-content-start
                                - var k = 0;
                                while k < 60
                                    - k++
                                    if k == 1 
                                        .col-2(style='margin-bottom:10px; padding-left:0px !important; border:none !important;')
                                            input#validationServer01.form-control(type='text', placeholder= k + '. z.B. \'Deutsch\'', name='ffach['+ k +']')              
                                    else
                                        .col-2(style='margin-bottom:10px; padding-left:0px !important; border:none !important;')
                                            input#validationServer01.form-control(type='text', placeholder= k + '.', name='ffach['+ k +']')
                    .form-group.col-md-12
                        br 
                        h5.text-info Schullogo? 
                .custom-file
                    input#inputGroupFile02.custom-file-input(type='file' name='files', multiple='')
                    label.custom-file-label(for='inputGroupFile02') Schullogo hochladen (optional) 
            br
            input#geht_ab.btn.btn-info.my-margin-top.bg-info.text-white.float-right(type='submit', value='Schule bei Liquidschool registrieren und aktivieren')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/add_school.js')  
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js') 
    script(type='text/javascript', src='http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js')