extends layout

block content
    h1 #{title}
    form(method='POST', action='/fachs/add')
        #form-transition-group  
            label title
            input.form-control(name='title', type=text)
       
        #form-transition-group  
            label faktor
            textarea.form-control(name='faktor', type=text)
        input.btn.btn-primary(type='submit', value='Submit')