extends ./layouts/layout

block content
  .shadow.p-3.mb-5.bg-white.rounded.text-danger.border-danger   
      .card
          .card-header.bold
              |  Als Schüler*in noch nicht auf Liquidschool? 
          .card-body
              h2.float-right Registriere dich als Schüler*in auf deiner Liquid-Schule.
              br 
          .col-md-12.col-12.float-right.padding_null
              a.btn.btn-danger.text-white.button-margin(href='/users/register_schueler_00') Liquidschool-SchülerIn werden