extends layout

block content
    form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/schools/edit')
        .card-header.bg-info.text-white
            | Es braucht nicht viel, um deine Schule zu verflüssigen...
        .card-body
            #form-transition-group.my-margin-top
                .form-row.my-margin-top 
                    .form-group.col-md-12
                        br 
                        h5.text-info Name und Postleitzahl...           
                    .form-group.col-md-12 
                        input#validationServer01.form-control(type='text', placeholder='Name der Schule',  required='' value=school.name,  name='name')                                       
                    .form-group.col-md-4 
                        input#validationServer01.form-control(type='text', placeholder='Postleitzahl',  required='' value=school.plz, name='plz')
                    .form-group.col-md-8 
                        input#validationServer01.form-control(type='text', placeholder='Ort',  required='' value=school.ort,  name='ort')          
            br
            input#geht_ab.btn.btn-info.my-margin-top.bg-info.text-white.float-right(type='submit', value='Änderungen speichern')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/add_school.js')  
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js') 
    script(type='text/javascript', src='http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js')