extends layout

block content

      .shadow.p-3.mb-5.bg-white.rounded
        .card
          .card-header.bold
            |  Einfach ist besser
          .card-body
            blockquote.blockquote.mb-0
              br 
              h1
                | | Damit es jeder nutzen kann
              br
              h4 Barrierefreiheit - Endgerät
              p
                | Liquidschool sieht nicht nur im Desktop super aus, sondern auch auf dem Handy. Liquidschool ist smartphoneoptimiert und das ist wichtig, damit auch SchülerInnen, ohne Computerzugang ihre Hausarbeiten machen können.
              br
              h4 Barrierefreiheit - Dateiformate           
              p
                | Bei Liquidschool kann man Lehreraufträge und Schülerhausarbeiten grundsätzlich nur in getippter Form oder als Foto reinstellen. Andere Formate sind nicht erlaubt, um auch hier eine großmögliche Einfachheit und Verfügbarkeit für unsere  SuS zu gewährleisten.  
              br
              h4 Barrierefreiheit - Bedienung           
              p
                | Die Bedienoberflähen von Liquidschool sind für Lehrkräfte und im Besonderen für SchülerInnen minimalistisch und einfach gehalten. Jeder kann Liquidschool bedienen. Selbst die ganz Kleinen.