extend layout



block content

    h1= fach.title
    h5 Written by  #{author}
    p= fach.faktor
    hr
    if user
        if user.id == fach.author
            a.btn.btn-default(href='/fachs/edit/'+ fach._id) edit
            a.btn.btn-danger.delete-fach(href='#', data-id=fach._id) Delete