extends layout

block content

      .shadow.p-3.mb-5.bg-white.rounded
        .card
          .card-header.bold
            |  Häufig gestellte Fragen
          .card-body
            blockquote.blockquote.mb-0
              br 
              h1
                | | Fragen und Antworten
              br
              h4 Was genau macht Liquidschool eigentlich?
              p
                | 1. Lehreraufträge an die Lerngruppe oder einzelne SchülerInnen übermitteln
                | 2. Schülerhausarbeiten an die Lehrkraft übermitteln  
                | 3. Lehrerfeedback für die Hausarbeit an der/ die Schüler*in übermitteln
              p
                | Das wars schon.        
              br
              h4 Ich schaffe es nicht ein Bild hochzuladen
              p
                | Am Computer ist das Hochladen von Fotos kein Problem. Beim Smartphone kann es Probleme geben, wenn man keinen aktuellen Browser benutzt. Lade dir z.B. "Chrome" runter oder aktualisiere es. Dann dürfte es mit den Fotos keine Probleme mehr geben.
              br
              h4 Was sind PauliDollar und wofür bekommt man sie?          
              p
                | PauliDollar sind Leistungspunkte, die dir dein*e Lehrer*in für gute Hausarbeiten gibt. Wofür die gesammelten Dollar gut sind, entscheidet dein*e Lehrer*in.
              br
              h4 Was passiert, wenn man die Abgabefrist verpasst, um seine Hausarbeit abzugeben?          
              p
                | Das entscheidet dein*e Lehrer*in. Es gibt aber keine Ausnahmen. Wenn man zu spät ist, dann ist man zu spät und das Abgeben der Hausaufgabe ist dann nicht mehr möglich.