extends layout

block content
    if !user
      include includes/index_no_user.pug
    else
      if user.type == 'lehrer'
        include includes/index_lehrer.pug
      else if user.type == 'schueler'
        include includes/index_schueler.pug
      else
        include includes/index_admin.pug
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')   
    script(src='/js/index.js')