doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            
            a.navbar-brand(href='/') Knowledgebase
        
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='/')| Home
                li.nav-item
                    a.nav-link(href='/articles/add') Add Articless
        .container
                    block content
                    br
                    hr
                    footer
                        p Copyright &copy; 2020

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
        script(src='/js/main.js')                                                      