doctype html
html
    head
        title St. Pauli macht weiter
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css') 
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css')  
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
                ul.navbar-nav.mr-auto
                    if user
                        if user.type == 'lehrer' 
                            li.nav-item.active
                                .box
                                    .led-green-main
                                .box.active   
                                    a.nav-link(href='/') #{user.name}s Aufträge
                            li.nav-item
                                a.nav-link(href='/index_all') Alle Aufträge
                            li.nav-item
                                a.nav-link(href='/users/all_schueler') Alle SuS  
                            li.nav-item.active
                                a.nav-link(href='/articles/add_article_klasse') | Neuer Auftrag +
                            li.nav-item
                                a.nav-link(href='/articles/add_article_broadcast') Standortauftrag +         
                        else
                            li.nav-item.active
                                .box
                                    .led-green-main
                                .box.active  
                                    a.nav-link(href='/') #{user.name}                     
                                .box 
                                    p.white
                                        | #{user.money} 
                    else
            .mx-auto.order-0
                a.navbar-brand.mx-auto(href='/') Liquidschool
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='.dual-collapse2')
                    span.navbar-toggler-icon
            .navbar-collapse.collapse.w-100.order-3.dual-collapse2
                ul.navbar-nav.ml-auto
                    if user
                        li  
                            a.nav-link(href='/users/logout/'  + user._id) Abmelden
                    else
                        li.nav-item
                            a.nav-link.active(href='/users/login') Anmelden
        .container_x               
            .container
                        != messages('message', locals)
                        if errors
                            each error, i in errors
                                div(class="alert, alert-danger") #{error.msg}
                        block content
                        br
                        br
                        br
                        br
                        br
    if !user
        footer.page-footer.font-small.mdb-color.pt-4
            .container.text-center.text-md-left
                .row.text-center.text-md-left.mt-3.pb-3
                    .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                        h6.text-uppercase.mb-4.font-weight-bold LiquidSchool
                        p
                            | Hier entsteht eine barrierefreie Schulsoftware, die auch für jüngere SchülerInnen ideal geeignet ist. 
                            | Alles unkompliziert.
                    hr.w-100.clearfix.d-md-none
                    .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
                        h6.text-uppercase.mb-4.font-weight-bold Plattform
                        p
                            a(href='/einfach_besser') Einfach ist besser
                        p
                            a(href='/haeufige_fragen') Häufige Fragen
                    hr.w-100.clearfix.d-md-none
                    .col-md-3.col-lg-2.col-xl-2.mx-auto.mt-3
                        h6.text-uppercase.mb-4.font-weight-bold Rechtliches
                        p
                            a(href='/disclaimer') Disclaimer
                        p
                            a(href='/datenschutz') Datenschutz
                    hr.w-100.clearfix.d-md-none
                    .col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3
                        h6.text-uppercase.mb-4.font-weight-bold Kontakt
                        p
                            i.fas.fa-home.mr-3
                            |  Hamburg, 21107, DE
                        p
                            i.fas.fa-envelope.mr-3
                            |  Akgüns SaH-Adresse
                        p
                            i.fas.fa-phone.mr-3
                            |  
                    hr
                    .row.d-flex.align-items-center
                        .col-md-7.col-lg-8
                            p.text-center.text-md-left
                                | © 2020 Copyright:
                                a(href='https://liquidschool.de/')
                                    strong  liquidschool.de
                        .col-md-5.col-lg-4.ml-lg-0
                            .text-center.text-md-right
                                ul.list-unstyled.list-inline
                                    li.list-inline-item
                                        a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                            i.fab.fa-facebook-f
                                    li.list-inline-item
                                        a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                            i.fab.fa-twitter
                                    li.list-inline-item
                                        a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                            i.fab.fa-google-plus-g
                                    li.list-inline-item
                                        a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                            i.fab.fa-linkedin-in