extends layout

block content
    .container
      .row.h-100.d-flex.justify-content-center
        .col-12.col-sm-8.col-md-6.col-lg-4
          .card.border.border-success
            .card-header
              ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                li.nav-item
                  a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Für SchülerInnen
                li.nav-item
                  a.nav-link(href='#history', role='tab', aria-controls='history', aria-selected='false') Für LehrerInnen
            .card-body
              h4.card-title Login
              .tab-content.mt-3
                #description.tab-pane.active(role='tabpanel')
                  p.card-text
                    form(method='POST', action='/users/login_s')
                        #form-group  
                            label Dein Vorname:
                            input#validationServer01.form-control.is-valid.form-control(name='username', type=text, required='')
                        br
                        #form-group  
                            label Passwort:
                            input#validationServer01.form-control.is-valid.form-control(type=text, name='password', required='') 
                        br
                        input.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Ok')
                #history.tab-pane(role='tabpanel', aria-labelledby='history-tab')
                  p.card-text
                    form(method='POST', action='/users/login_l')
                        #form-group  
                            label Behörden-Email:
                            input#validationServer01.form-control.is-valid.form-control(name='username', type=text, required='')
                            br
                        #form-group  
                            label Passwort:
                            input#validationServer01.form-control.is-valid.form-control(type=text, name='password', required='') 
                        br
                        input.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Ok')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
        script(src='/js/log_reg.js') 