extends layout

block content
    .container
      .row.h-100.d-flex.justify-content-center
        .col-12.col-sm-8.col-md-6.col-lg-4
          .card.border.bg-custom-1
            .card-header
              ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                li.nav-item
                  a.nav-link.active.bg-custom-1.no-border(href='#', role='tab', aria-controls='history', aria-selected='true') Für SchülerInnen
            .card-body.bg-custom-1
              h4.card-title Hier kannst du dich registrieren
              .tab-content.mt-3
                #history.tab-pane.active(role='tabpanel')
                  p.card-text
                    form(method='POST', action='/users/register_schueler')
                        #form-group  
                            label Dein Vorname:
                            input#validationServer01.form-control.is-valid.form-control(name='username', type=text, required='')
                        br
                        #form-group  
                            label Deine Klasse                                  
                            select#validationServer01.form-control.is-valid.custom-select.form-control(name='klasse', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='')
                                option St. Pauli 5a
                                option St. Pauli 5b 
                                option St. Pauli 6a
                                option St. Pauli 6b 
                                option St. Pauli 7a
                                option St. Pauli 7b
                                option St. Pauli LB/WS 5-7                                            
                                option St. Pauli 8a
                                option St. Pauli 8b 
                                option St. Pauli 9a
                                option St. Pauli 9b 
                                option St. Pauli LB/WS 8-9                                            
                                option St. Pauli 10a
                                option St. Pauli 10b 
                                option Neustadt 5a
                                option Neustadt 5b
                                option Neustadt 5c
                                option Neustadt 6a 
                                option Neustadt 6b
                                option Neustadt 7a
                                option Neustadt 7b
                                option Neustadt 7c
                                option Neustadt 8a
                                option Neustadt 8b
                                option Neustadt 8c
                                option Neustadt 8d
                                option Neustadt VK 7/8
                                option Neustadt 9a
                                option Neustadt 9b
                                option Neustadt 9c
                                option Neustadt VK 9
                                option Neustadt 10a
                                option Neustadt 10b
                                option Neustadt 10c
                                option Neustadt 10d
                                option Neustadt VK 10
                                option TestKlasse 1
                                option TestKlasse 2
                                option Testklasse 3
                        br
                        #form-group  
                            input#validationServer01.form-control.is-valid.form-control(type=text, name='password', required='', placeholder='Passwort')
                            br
                        #form-group  
                            input#validationServer01.form-control.is-valid.form-control(type=text, name='password2', required='', placeholder='Passwort wiederholen') 
                        br
                        input.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Ok')