extend layout



block content
        .container.padding_null
            .row.h-100.d-flex.justify-content-center
                .col-12
                    .card.border
                        .card-header
                            ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{stammverbund.name}
                        .card-body.padding_null
                            .tab-content.mt-3.my-min-height
                                p.card-text
                                    .col-md-12
                                #description.tab-pane.active(role='tabpanel')
                                    p.card-text
                                        .col-md-12                                
                            if user
                                if user.type === 'admin' && user.school.toString === stammverbund.school.toString
                                    a.btn.btn-success.text-white.button-margin(href='/schools/stammverbund_edit/'+ stammverbund._id) bearbeiten
                                    a.btn.btn-danger.delete-stammverbund.text-white.button-margin(href='#', data-id=stammverbund._id) löschen
        script(src='/js/stammverbund.js')