extends zz_layout_2_copy

block content
  .container
    .input-field.col.s12.blue-text
      select
        option(value='', disabled='', selected='') Wähle ein Fach
        option(value='0') keines
        option(value='1') Deutsch
        option(value='2') Mathe
        option(value='3') Philosophie
  script(src='/js/test.js')