extends ../layout

block content
    form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/schools/add_school_logo')
        .card-header.bg-info.text-white
            | Es braucht nicht viel, um deine Schule zu verflüssigen...
        .card-body
            #form-transition-group.my-margin-top    
                .form-row
                    .form-group.col-md-12
                        br 
                        h5.text-info Schullogo? 
                .custom-file
                    input#inputGroupFile02.custom-file-input(type='file' name='files', multiple='')
                    label.custom-file-label(for='inputGroupFile02') Schullogo hochladen (optional) 
            br
            input#geht_ab.btn.btn-info.my-margin-top.bg-info.text-white.float-right(type='submit', value='Schullogo hinzufügen / überspringen')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/add_school.js')