extends ../layouts/layout

block content
    form(method='POST', action='/stamms/edit/' + stamm._id)
        #form-transition-group  
            label Name:
            input.form-control(name='name', type=text, value=stamm.name)
        br
        input.btn.btn-primary(type='submit', value='Submit')