extend ../layouts/layout



block content
            form#reused_form.montform(method='POST', enctype='multipart/form-data'  action='/stammverbunds/edit/' + verbund._id)
                .card.border.border-success
                    .card-header.bg-success.text-white
                        | KLassenverbund ändern
                    .card-body
                        #form-transition-group.my-margin-top
                                .form-row
                                    .form-group.col-md-12                                   
                                        .container-fluid(style='margin-bottom:0px; border:none !important;')
                                            .row(style='margin:0px; border:none !important;')
                                                each stamm, i in stamms
                                                    .col-3(style='margin-bottom:0px; border:none !important;')
                                                        input#defaultCheck1.form-check-input(type='checkbox', value=stamm.id, checked=stamm.verbund_token, name='stamms[]')
                                                        input.form-control.invisible(type='text',  name='id['+i+']', value= stamm.id)
                                                        | #{stamm.name}                               
                                    .form-group.col-md-12
                                        input#validationServer01.form-control(type='text', placeholder='Name des Klassenverbunds',  required='',  name='name', value=verbund.name)
                                        .valid-feedback                
                                input.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Ok')