extends ../layouts/layout

block content
  .container
    .row.h-100.d-flex.justify-content-center
      .col-12.col-sm-8.col-md-5.col-lg-5.shadow.p-3.mb-5.bg-white.rounded.text-dark.border-dark
        .card.border
          .card-body
            br
            h6 An SuS Aufträge verteilen
            h3 Anmelden als Lehrkraft
            br 
            br 
            form(method='POST', action='/users/login_l')
                #form-group  
                    label Email:
                    input#validationServer01.form-control(name='username', type=email, required='')
                    br
                #form-group  
                    label Passwort:
                    input#validationServer01.form-control(type='password', name='password', required='') 
                br
                input.btn.btn-dark.my-margin-top.bg-dark.text-white.float-right(type='submit', value='Anmelden') 