extends ../layouts/layout

block content
  .container
    .row.h-100.d-flex.justify-content-center
      .col-12.col-sm-8.col-md-5.col-lg-5.shadow.p-3.mb-5.bg-white.rounded.text-danger.border-danger
        .card.border
          .card-body
            br
            h6 Du möchtest deine Hausarbeiten sehen?
            h3 Anmelden als SchülerIn
            br 
            br 
            form(method='POST', action='/users/login_s')
                #form-group  
                    label Schulschlüssel (frag deine Lehrerin, wenn du ihn nicht kennst):
                    input#validationServer01.form-control.monospace(name='schueler_schluessel', type=text, required=''  minlength='6')
                    br
                #form-group  
                    label Name:
                    input#validationServer01.form-control(name='username', type=text, required='')
                    br
                #form-group  
                    label Passwort:
                    input#validationServer01.form-control(type='password', name='password', required='') 
                br
                input.btn.btn-danger.my-margin-top.bg-danger.text-white.float-right(type='submit', value='Anmelden')