extends ../layouts/layout

block content
    .container
      .row.h-100.d-flex.justify-content-center
        .col-12.col-sm-8.col-md-5.col-lg-5.shadow.p-3.mb-5.bg-white.rounded.text-primary.border-primary
          .card.border
            .card-body
              br
              h6 Schule konfigurieren.
              h3 Anmelden als Schuladministrator
              br 
              br 
              form(method='POST', action='/users/login_a')
                  #form-group  
                      label Email:
                      input#validationServer01.form-control(name='username', type=email, required='')
                      br
                  #form-group  
                      label Passwort:
                      input#validationServer01.form-control(type='password', name='password', required='') 
                  br
                  input.btn.btn-primary.my-margin-top.bg-primary.text-white.float-right(type='submit', value='Anmelden') 